# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.DS_Store

# FastChem
eos/FastChem/sample/
eos/FastChem/sample.h5

# Sample run output (working directory created by sample.sh)
sample/sample/*
!sample/sample/output/
sample/sample/output/*
!sample/sample/output/*.png
